<div class="layout-wrapper" [ngClass]="containerClass">
  <app-topbar></app-topbar>
  <app-sidebar></app-sidebar>
  <div class="layout-main-container">
    <div class="layout-main">
      <router-outlet></router-outlet>
      @if (blogEntriesResource.asReadonly().isLoading()) {
      <div>Loading...</div>
      }@else{
      <!-- <div *ngFor="let entry of blogEntriesResource.asReadonly().value()">
  <h1>{{ entry.fields.title }}</h1>
  <h4>{{ entry.fields.publishDate }}</h4>

  <div>{{ entry.fields.overview }}</div>
  <div>
    <app-contentful-rich-text [document]="entry.fields.entryContext"></app-contentful-rich-text>
  </div>
   <pre>{{ entry | json }}</pre>
</div> -->

      @for (entry of blogEntriesResource.asReadonly().value(); track $index) {
      <p-card [style]="{ maxWidth: '50rem', overflow: 'hidden' }">
        <ng-template #title> {{ entry.fields.title }} </ng-template>
        <ng-template #subtitle> {{ entry.fields.publishDate }} </ng-template>

        <div>{{ entry.fields.overview }}</div>
        <div>
          <app-contentful-rich-text
            [document]="entry.fields.entryContext"
          ></app-contentful-rich-text>
        </div>
      </p-card>
      <br />
      } }
    </div>
    <app-footer></app-footer>
  </div>
  <div class="layout-mask animate-fadein"></div>
</div>
